.kw-widget-bottom {
   height: $bottom-height;
   overflow: hidden;
   position: relative;
   width: 100%;

   .kw-slider-container {
      height: $bottom-height;
      overflow: hidden;
      position: relative;
      width: 100%;
      @include transition(all .3s);
      -webkit-mask-image: $webkit-full-gradient;
      mask-image: $full-gradient;

      > div {
         @include transition(all .3s);
      }
   }

   .kw-slider-scroller {
      height: $bottom-height;
   }

   &:hover {
      .kw-scroll-left, .kw-scroll-right {
         opacity: 1;
      }

      .kw-slider-container {
         &.faded {
            -webkit-mask-image: $webkit-full-gradient;
            mask-image: $full-gradient;
         }
      }
   }

   .kw-scroll-left, .kw-scroll-right {
      @include transition(all .3s);
      height: 100%;
      opacity: 0.1;
      position: absolute;
      top: 0;
      width: 50px;
      z-index: 1;

      i {
         cursor: pointer;
         font-size: 60px;
      }
   }

   .kw-scroll-left {
      left: 0;
   }

   .kw-scroll-right {
      right: 0;
   }

   &.faded-left,
   &.faded-left:hover {
      .kw-scroll-left i {
         display: none;
      }

      .faded {
         -webkit-mask-image: $webkit-right-gradient;
         mask-image: $right-gradient;
      }
   }

   &.faded-right,
   &.faded-right:hover {
      .kw-scroll-right i {
         display: none;
      }

      .faded {
         -webkit-mask-image: $webkit-left-gradient;
         mask-image: $left-gradient;
      }
   }

   button {
      margin-left: 0;
      min-width: 100px;
   }

   .kw-match {
      height: $bottom-height;
      width: 350px;
      @include flex(1 0 350px);
   }

   outcome-component {
      margin-left: 6px;

      .KambiWidget-outcome__label {
         text-transform: capitalize;
      }

      &:first-child {
         margin-left: 0;
      }
   }

   .kw-section-header {
      border-bottom: 1px solid $color-custom-border;
   }

   .kw-teams,
   .kw-event-outcomes {
      border-right: 1px solid $color-custom-border;
      cursor: pointer;
   }

   .kw-match:last-child {
      .kw-teams,
      .kw-event-outcomes {
         border-right: 0;
      }
   }

   @include device((xss, xs, ss)) {
      .kw-slider-scroller {
         @include transform(translate3d(0, 0, 0) !important);
         overflow-x: scroll;
         -webkit-overflow-scrolling: touch;
      }
   }
}
