$width: 220px;
$top-height: 236px;

.kw-widget-top {

   .kw-section-header {
      width: $width;

      span {
         color: #E0E0E0;
         font-weight: 200;
      }
   }

   .kw-slider-scroller {
      @include transition(all .3s);

      .mobile-page.l-align-center {
         width: 25%;
      }

      @include device ($mobile) {
         .ismobile & {
            height: $top-height - 18;
            @include flexbox();
            @include box-align(center);
            @include box-orient(row);
            @include flex-wrap(wrap);
            @include flex-flow(column wrap);

            > .mobile-page {
               @include flexbox();
               @include box-align(center);
               @include flex(0 0 100%);
               width: 100%;

               > div {
                  max-width: 100%;
               }

               .kw-section-header {
                  width: auto;

                  > h4 {
                     @include box-pack(center);
                  }
               }

               .kw-players {
                  width: 100%;
               }

               &:nth-child(1) { @include order(1); }
               &:nth-child(2) { width: 100%; @include order(0); }
               &:nth-child(3) { @include order(2); }
            }
         }
      }
   }

   .kw-players {
      font-size: 14px;
      height: 36px;
      width: $width;
   }

   .kw-links {
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 30px;
      text-decoration: underline;

      @include device($mobile) {
         .ismobile & {
            margin-bottom: 0;
            margin-top: 8px;
         }
      }
   }

   @include device($mobile) {
      .ismobile & {
         overflow: hidden;

         .kw-section-header {
            margin-top: 17px;
         }

         * {
            font-size: 12px;
         }
      }
   }
}

.kw-slider-nav {
   display: none;

   @include device($mobile) {
      .ismobile & {
         @include flexbox();
         margin-bottom: 2px;
      }
   }

   div {
      @include border-radius(8px);
      @include transition(background ease-out .3s);
      background-color: rgba(255, 255, 255, 0.5);
      height: 8px;
      width: 8px;

      &.kw-page-active {
         background-color: white;
      }
   }
}
