$bottom-height: 120px;

.kw-widget-bottom {
   position: relative;
   width: 100%;

   .clock-black-expand {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTMgMTMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzIDEzOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjt9PC9zdHlsZT48dGl0bGU+Q2xvY2s8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik02LjUsMEMyLjksMCwwLDIuOSwwLDYuNVMyLjksMTMsNi41LDEzUzEzLDEwLjEsMTMsNi41UzEwLjEsMCw2LjUsMHogTTYuNSwxMS41Yy0yLjgsMC01LTIuMi01LTVjMC0yLjQsMS43LTQuNCwzLjktNC45djUuNkgxMFY1LjdINi45VjEuNWMyLjYsMC4yLDQuNiwyLjMsNC42LDVDMTEuNSw5LjMsOS4zLDExLjUsNi41LDExLjV6Ii8+PC9zdmc+);
      height: 14px;
      width: 14px;
   }

   .kw-slider-container {
      height: $bottom-height;
      overflow: hidden;
      position: relative;
      width: 100%;
      @include transition(all .3s);
      -webkit-mask-image: $webkit-full-gradient;

      > div {
         @include transition(all .3s);
      }

      @include device($mobile) {
         margin-bottom: 26px;
         -webkit-mask-image: none;
         mask: none;
      }
   }

   .kw-slider-scroller {
      height: $bottom-height;
   }

   &:hover {
      .kw-scroll-left, .kw-scroll-right {
         opacity: 1;
      }

      @include device(sm, min) {
         .kw-slider-container.kw-gradient {
            -webkit-mask-image: $webkit-full-gradient;
         }
      }
   }

   .kw-scroll-left, .kw-scroll-right {
      @include transition(all .3s);
      height: 100%;
      opacity: .15;
      position: absolute;
      top: 0;
      width: 50px;
      z-index: 2;

      i {
         cursor: pointer;
         font-size: 60px;
      }

      @include device(sm, max) {
         display: none;
      }
   }

   .kw-scroll-left {
      left: 12px;
   }

   .kw-scroll-right {
      right: 12px;
   }

   &.kw-gradient-left,
   &.kw-gradient-left:hover {
      .kw-scroll-left i {
         display: none;
      }

      .kw-gradient {
         -webkit-mask-image: $webkit-right-gradient;

         @include device($mobile) {
            -webkit-mask-image: none;
            mask-image: none;
         }
      }
   }

   &.kw-gradient-right,
   &.kw-gradient-right:hover {
      .kw-scroll-right i {
         display: none;
      }

      .kw-gradient {
         -webkit-mask-image: $webkit-left-gradient;

         @include device($mobile) {
            -webkit-mask-image: none;
            mask-image: none;
         }
      }
   }

   .kw-match {
      border-right: 1px dotted rgba(255, 255, 255, 0.4);
      margin-top: 6px;
      max-width: 350px;
      width: 350px;
      @include flex(1 0 350px);

      h4 {
         font-size: 14px;
      }

      &:last-child {
         border-right: 0;
      }

      @include device((xss)) {
         max-width: $screen-xss / 1.2;
         min-width: $screen-xss / 1.2;
         width: $screen-xss / 1.2;
         @include flex(1 0 $screen-xss / 1.2);
      }

      @include device((xs)) {
         max-width: $screen-xs / 1.6;
         min-width: $screen-xs / 1.6;
         width: $screen-xs / 1.6;
         @include flex(1 0 $screen-xs / 1.6);
      }

      @include device((ss)) {
         max-width: $screen-ss / 1.7;
         min-width: $screen-ss / 1.7;
         width: $screen-ss / 1.7;
         @include flex(1 0 $screen-ss / 1.7);
      }
   }

   .kw-match-logo {
      display: none;
      max-width: 90px;
      min-width: 90px;
      @include flex(1 0 90px);
      width: 90px;

      .iscollapsed & {
         @include flexbox();
      }

      .kw-custom-logo {
         height: 90px;
         width: 90px;
      }
   }

   outcome-component {
      margin-left: 6px;

      button {
         margin-left: 0;
         min-width: 50px;
      }

      @include device($mobile) {
         margin-left: 3px;
         .KambiWidget-outcome__flexwrap {
            padding: 0 3px;
         }
      }

      .KambiWidget-outcome__label {
         text-transform: capitalize;
      }

      &:first-child {
         margin-left: 0;
      }

      @include device($mobile) {
         span {
            font-size: 11px;
            line-height: 36px;
         }
      }
   }

   .kw-live-now {
      span {
         text-transform: uppercase;

         &.red {
            color: red;
            font-style: italic;
         }
      }

      .KambiWidget-outcome__label-wrapper {
         @include box-pack(center);
      }
   }

   .kw-score {
      font-size: 24px;
      @include device($mobile) {
         font-size: 22px;
      }
   }

   .kw-section-header h4,
   .kw-teams,
   .kw-event-outcomes {
      cursor: pointer;
      @include device($mobile) {
         padding-left: 8px;
         padding-right: 8px;
      }
   }

   .kw-team-name {
      font-size: 14px;
      line-height: 24px;
   }

   .kw-team {
      @include flex(1 1 auto);
      @include flexbox();
      @include box-pack(flex-start);

      @include device($mobile) {
         height: 24px;
         width: 100%;
      }
   }

   * {
      @include device($mobile) {
         font-size: 12px;
      }
   }

   .iscollapsed & {
      padding-top: 12px;
   }

   @include device($mobile) {
      padding: 0;

      .kw-slider-scroller {
         @include transform(translate3d(0, 0, 0) !important);
         overflow-x: scroll;
         overflow-y: hidden;

         // adding the class later because Safari
         &.kw-elastic-scroll {
            -webkit-overflow-scrolling: touch;
         }
      }

      .iscollapsed & {
         .kw-match .kw-section-header {
            //margin-top: 0;
         }
      }
   }
}


