// General Widget Classes
// Using a low nesting structure in order to ease the theming
$right: radial-gradient(ellipse 150px 120px at 150px 130px, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
$left: radial-gradient(ellipse 150px 120px at 0px 130px, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));

body {
   color: white;
   @extend .l-expander;
   @include transition(none !important); // hack to overwrite the core animation on opacity attribute
}

html {
   height: 100%;
   overflow: hidden;
}

.kw-svg {
   display: none;
}

@supports (-moz-appearance:none) and (display:contents) {
   .kw-svg {
      display: block;
   }
}

@mixin ie() {
   .kw-widget-bottom {
      position: relative;
      overflow: visible !important;

      &:after, &:before {
         content: "";
         position: absolute;
         top: 6px;
         bottom: 0;
         width: 150px;
         height: 150px;
         z-index: 1;
      }

      &:after {
         right: -20px;
         background-image: $right;
      }

      &:before {
         left: -20px;
         background-image: $left;
      }
   }

   .kw-gradient-left, .kw-gradient-right {
   }

   .kw-gradient-left {
      &:after, &:before {
         content: "";
         position: absolute;
         top: 6px;
         bottom: 0;
         width: 150px;
         height: 150px;
         z-index: 1;
      }

      &:after {
         background-image: $right;
         right: -20px;
      }
      &:before {
         background-image: none;
      }

      &.kw-widget-bottom {
         &:before {
            background-image: none;
         }
      }
   }

   .kw-gradient-right {
      &:after, &:before {
         content: "";
         position: absolute;
         top: 6px;
         bottom: 0;
         width: 150px;
         height: 150px;
         z-index: 1;
      }

      &:after {
         background-image: none;
      }
      &:before {
         background-image: $left;
         left: -20px;
      }

      &.kw-widget-bottom {
         &:after {
            background-image: none;
         }
      }
   }
}

.browser-edge {
   @include ie();
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   @include ie();
}

.l-mt-28 {
   margin-top: 28px;
}

.l-mb-4 {
   margin-bottom: 4px;
}
