// Temporary overrides
// These classes will be moved to core-library

.KambiWidget-card-background-color {
   background-color: $color-4-1-card-background;
}

.KambiWidget-card-border-color {
   border-color: $color-4-1-card-border;
   border-style: solid;
   border-width: 1px;
   border-top-width: 0px;
}

.kw-header {
   //background-color: white;
   //color: $color-4-2-card-header-text;
   //font-size: 16px;
   //line-height: 24px;
}
