// Variables
// Widget specific variables only

$color-4-2-card-header-text: #222;
$color-4-1-card-border: #ddd;
$color-4-1-card-background: #fff;
$color-4-2-card-supportive-text: #666;

$color-custom-border: rgba(255, 255, 255, .9);
$color-active-background: rgba(0, 0, 0, .1);
$color-hover-background: rgba(255, 255, 255, .1);
$color-hover-selected-background: rgba(255, 255, 255, 1);

$webkit-full-gradient: -webkit-gradient(linear, 0% 0%, 100% 0, color-stop(0%, transparent), color-stop(7%, black), color-stop(50%, black), color-stop(93%, black), color-stop(100%, transparent));
$webkit-right-gradient: -webkit-gradient(linear, 90% 0%, 100% 0, from(black), to(transparent));
$webkit-left-gradient: -webkit-gradient(linear, 0% 0%, 10% 0, from(transparent), to(black));


$mobile: (xss, xs, ss, sm);
$desktop: (md, lg, xlg);

