// Commong widget styles

%Kambi-border {
   @extend .KambiWidget-card-border-color;
}

h3, h4 {
   @extend %Kambi-border;
   border-width: 1px;
   line-height: 24px;
}

button {
   min-width: 60px;
}

h3 {
   font-size: 14px;
}

h4 {
   border-top-width: 0;
}

.kw-section-header {

   h4 > div:last-child {
      min-width: 60px;
   }
}

.ismobile {
   display: block;
}

.kw-footer {
   @extend %Kambi-border;
   border-top-width: 1px;
   height: 37px;
}
