// Commong widget styles
body {
   color: white;
   @extend .l-expander;
   @include transition(opacity ease-out .3s);
}

html {
   height: 100%;
}

.kw-main {
   @include device($mobile) {
      display: block;
      height: 100%;
   }
}

h2, h3, h4, h5 {
   line-height: 24px;
}

h2 {
   font-size: 21px;
   line-height: 1;
}

h4 {
   font-size: 14px;
}

.kw-player-media {
   height: 24px;
   position: relative;
   width: 24px;

   > img {
      height: 24px;
      width: 24px;
   }
}

button {
   min-width: 60px;

   &.kw-link {
      text-decoration: none;
   }

   span {
      font-size: 14px;
      line-height: 36px;
   }
}

.kw-tournament-logo {
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: contain;
   height: 150px;
   width: 150px;
}

.kw-custom-background {
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
}

.kw-custom-background.kw-custom-background-large {
   @include device(sm, max) {
      background-image: none;
   }

   @include device(sm, min) {
      > .kw-custom-background-small {
         background-image: none;
      }
   }
}



