// Commong widget styles

@mixin device($screen-size-label) {
   @each $size in $screen-size-label {
      $size: get-screen-size($size);
      $min: nth($size, 1);
      $max: nth($size, 2);
      @media (min-width: #{$min}) and (max-width: #{$max}) {
         @content;
      }
   }
}

body {
   background-image: url(../images/background_test.jpg);
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   height: auto;
}

.kw-main {
   @include device((xss, xs, ss)) {
      display: block;
   }
}

h2, h3, h4, h5 {
   line-height: 24px;
}

h2 {
   font-size: 18px;
}

.kw-player-media {
   height: 35px;
   position: relative;
   width: 35px;

   > img {
      height: 35px;
      width: 35px;
      @include border-radius(50px)
   }
}

button {
   min-width: 60px;
}

.playerImage {
   height: auto;
   max-width: 100%;
}

.playerFlag {
   @include border-radius(18px);
   bottom: -5px;
   height: 18px;
   left: -8px;
   max-width: 18px;
   position: absolute;
}


