.kw-custom-logo-large {
   background-image: url('generic-logo-type.svg');
}

.kw-custom-logo-large-type {
   background-image: url('generic-logo-type.svg');
}

.kw-custom-logo-small {
   background-image: url('generic-logo-type.svg');
}

.kw-custom-background-large {
   background-image: url('Background_1200x148.jpg');
}

.kw-custom-background-small {
   background-image: url('Background_1200x148.jpg');
}

#schedule { }
