.kw-custom-logo-large {
   background-image: url('generic-logo-type.svg');
}

.kw-custom-logo-large-type {
   background-image: url('generic-logo-type.svg');
}

.kw-custom-logo-small {
   background-image: url('generic-logo-type.svg');
}

#blendRect {
   fill: #0eb5ca;
}

#schedule { }
