.kw-custom-logo-large {
   background-image: url('2016-logo-2.svg');
}

.kw-custom-logo-large-type {
   background-image: url('2016-logo-5.svg');
}

.kw-custom-logo-small {
   background-image: url('2016-logo-2.svg');
}

.kw-custom-background-large {
   background-image: url('2016-gradient-pattern-2.jpg');
}

.kw-custom-background-small {
   background-image: url('2016-gradient-pattern-2.jpg');
}
