.kw-custom-logo-large {
   background-image: url('premier-league-widget-logo.svg');
}

.kw-custom-logo-large-type {
   background-image: url('premier-league-widget-logo.svg');
}

.kw-custom-logo-small {
   background-image: url('premier-league-widget-logo.svg');
}

#blendRect {
   fill: #247423;
}

#schedule { }
