<!--Golden Boot header-->

<div class="kw-section-header l-mb-12">
   <h4 class="l-flexbox l-align-center l-pack-start">
      <span class="text-truncate">{'Top scorer' | translate}</span>
   </h4>
</div>

<!--Players wrapper-->
<div id="players-slider" class="kw-slider-container">

   <div class="kw-players-wrapper l-flex-1">

      <!--Players-->
      <div class="kw-players l-flexbox l-mb-12"
           rv-each-outcome="outcomes">

         <!--Player Team Color-->
         <div class="kw-player-media l-flexbox l-align-center l-mr-6">
            <img rv-if="outcome.cmsData.teamData.flag.url" class="playerImage" rv-src="outcome.cmsData.teamData.flag.url">
         </div>

         <!--Player Name and goals scored-->
         <div class="l-flexbox l-align-center l-flex-4">
            <span class="text-truncate">{outcome.label} <span rv-if="outcome.cmsData.playerData.goals">({outcome.cmsData.playerData.goals})</span></span>
         </div>

         <div class="l-flexbox">
            <outcome-component-no-label outcome-attr="outcome"></outcome-component-no-label>
         </div>

      </div>

   </div>

   <div class=" kw-link hidden-xss hidden-xs l-flexbox l-pack-center">Show all 24 participants</div>

</div>

