<!--Groups-->
<div rv-each-event="_events">

   <div class="kw-section-header l-pl-12 l-pt-12">

      <!--Group header-->
      <h3 class="l-flexbox l-align-center l-pack-center l-pt-6 l-pb-6">
         <span class="text-truncate">{event.event.name}</span>
      </h3>

   </div>

   <div class="l-flexbox l-vertical l-flex-1 l-pl-12">

      <!--Teams-->
      <div class="KambiWidget-card-border-color kw-teams l-flexbox l-pl-12 l-pr-12 l-pt-6 l-pb-6"
           rv-anim-stagger="index"
           rv-each-outcome="event.betOffers | array_at 0 'outcomes'">

         <div class="kw-team l-flexbox l-align-center l-flex-4">
            <span class="text-truncate">{outcome.label}</span>
         </div>

         <div class="l-flexbox">
            <outcome-component-no-label outcome-attr="outcome" ></outcome-component-no-label>
         </div>

      </div>

   </div>

</div>

<footer class="kw-footer l-ml-12 l-mt-6">
   <div id="groups-pagination" class="kw-pagination l-flexbox l-pack-center l-align-center"></div>
</footer>
