<!-- Live -->
<div class="slide-item l-flexbox l-horizontal" rv-each-event="liveEvents" >

   <div class="l-flexbox l-horizontal">

      <!-- Matches -->
      <div  class="kw-players l-flexbox l-vertical">

         <!--Day header-->
         <div class="kw-section-header l-pt-6 l-pb-6 l-mb-6">
            <h4 class="l-flexbox l-align-center l-pack-start l-pl-16">
               <span class="text-truncate">{event.liveData.matchClock.minute}:{event.liveData.matchClock.second}</span>
            </h4>
         </div>

         <div class="kw-teams l-flexbox l-vertical l-pt-6 l-pl-12 l-pr-12 l-pb-6" >

            <div class="l-flexbox l-expander l-flex-1" >
               <div class="l-flexbox l-align-center l-flex-1 l-pack-end">
                  <img class="l-mr-6" rv-src="event.event.homeFlag.url" height=18" width="18" alt="">
                  <span class="text-truncate">
                     {event.event.homeName}
                  </span>
                  <span>
                     {event.liveData.score.home}
                  </span>
               </div>
               <div class="l-pl-6 l-pr-6">-</div>
               <div class="l-flexbox l-align-center l-flex-1">
                  <span>
                     {event.liveData.score.away}
                  </span>
                  <span class="text-truncate">
                     {event.event.awayName}
                  </span>
                  <img class="l-ml-6" rv-src="event.event.awayFlag.url" height="18" width="18" alt="">
               </div>
            </div>
         </div>
         <div>
            <button rv-on-click="navigateToEvent">Live now</button>
         </div>
      </div>
   </div>

</div>


<!-- Upcoming -->

<div class="slide-item l-flexbox l-horizontal" rv-each-event="events | property_list" rv-anim-stagger="index">

   <!-- Time slots -->
   <div rv-each-start_time="event.value | property_list" class="l-flexbox l-horizontal">

      <!-- Matches -->
      <div rv-each-event="start_time.value" class="kw-players l-flexbox l-vertical">

         <!--Day header-->
         <div class="kw-section-header l-pt-6 l-pb-6 l-mb-6">
            <h4 class="l-flexbox l-align-center l-pack-start l-pl-16">
               <span class="text-truncate">{event.customStartTime}&nbsp</span>
               <span style="text-transform: capitalize" class="text-truncate">{event.key}</span>
            </h4>
         </div>

         <div class="kw-teams l-flexbox l-vertical l-pt-6 l-pl-12 l-pr-12 l-pb-6" rv-on-click="navigateToEvent" >

            <div class="l-flexbox l-expander l-flex-1" >
               <div class="l-flexbox l-align-center l-flex-1 l-pack-end">
                  <img class="l-mr-6" rv-src="event.event.homeFlag.url" height=18" width="18" alt="">
                  <span class="text-truncate">
                     {event.event.homeName}
                  </span>
               </div>
               <div class="l-pl-6 l-pr-6">-</div>
               <div class="l-flexbox l-align-center l-flex-1">
                  <span class="text-truncate">
                     {event.event.awayName}
                  </span>
                  <img class="l-ml-6" rv-src="event.event.awayFlag.url" height="18" width="18" alt="">
               </div>
            </div>
         </div>

         <!-- Outcomes -->
         <div class="kw-event-outcomes l-flexbox l-pl-16 l-pr-16 l-pb-12">

            <!--Outcome-->
            <outcome-component rv-each-outcome="event.betOffers | array_at 0 'outcomes'" outcome-attr="outcome" event-attr="event.event" >
            </outcome-component>

         </div>
      </div>
   </div>

</div>
