
<!--Top scorer header-->
<h3 class="l-flexbox l-align-center l-pack-center l-pt-6 l-pb-6">Top scorer</h3>

<div class="l-pl-16 l-pr-16 l-pt-12 l-pb-12">
   <div class="l-flexbox l-pr-16 l-pl-16">
      <div class="l-flexbox l-flex-1">Team</div>
      <div class="l-flexbox l-flex-4">Player</div>
      <div class="l-flexbox l-flex-1">P</div>
      <div class="l-flexbox l-flex-1">G</div>
      <div class="l-flexbox l-flex-1">Odds</div>
   </div>
</div>

<!--Players wrapper-->
<div class="l-flexbox l-vertical l-flex-1 l-pl-16 l-pr-16">

   <!--Players-->
   <div class="KambiWidget-card-border-color kw-players l-flexbox l-pl-16 l-pr-16 l-pt-6 l-pb-6">

      <div class="l-flexbox l-align-center l-flex-1">
      </div>

      <div class="l-flexbox l-align-center l-flex-4">
         1. Z Ibrahimovic
      </div>

      <div class="l-flexbox l-flex-1">8</div>

      <div class="l-flexbox l-flex-1">12</div>

      <div class="l-flexbox l-flex-1">
         <button rv-click="toggleOutcome(outcome)"
                 rv-disabled="liveEvent.betOffers[0].suspended == true"
                 rv-class="{'KambiWidget-outcome--selected': outcome.selected===true,
                               'KambiWidget-outcome--suspended': liveEvent.betOffers[0].suspended == true}"
                 type="button" role="button" class="KambiWidget-outcome kw-link l-ml-6 l-flex-1">

            <div class="l-flexbox l-pack-center">
               <div class="KambiWidget-outcome__odds-wrapper">
                  <span class="KambiWidget-outcome__odds">1.11</span>
               </div>
            </div>

         </button>
      </div>

   </div>

</div>

