<!--Tournament winner header-->

<div class="kw-section-header l-pl-12 l-pr-12 l-pt-12">
   <h3 class="l-flexbox l-align-center l-pack-center l-pt-6 l-pb-6">
      <span class="text-truncate">Tournament winner</span>
   </h3>

   <h4 class="l-flexbox l-align-center l-pr-16 l-pl-16 l-pt-12 l-pb-12">
      <div class="l-flexbox l-flex-1"><span class="text-truncate"> </span></div>
      <div class="l-flexbox l-flex-4"><span class="text-truncate">Team</span></div>
      <div class="l-flexbox l-flex-1 l-pack-end l-pl-6 l-pr-6"><span class="text-truncate">P</span></div>
      <div class="l-flexbox l-flex-1 l-pack-end l-pr-6"><span class="text-truncate">PTS</span></div>
      <div class="l-flexbox l-pack-end l-flex-1"><span class="text-truncate">Odds</span></div>
   </h4>
</div>

<!--Players wrapper-->
<div class="l-flexbox l-vertical l-flex-1 l-pl-12 l-pr-12">

   <!--Players-->
   <div class="KambiWidget-card-border-color kw-players l-flexbox l-pl-12 l-pr-12 l-pt-6 l-pb-6"
        rv-anim-stagger="index" rv-each-team="_event">

      <!--Player Team Color-->
      <div class="l-flexbox l-align-center l-flex-1">
      </div>

      <!--Player Name-->
      <div class="l-flexbox l-align-center l-flex-4">
         <span class="text-truncate">{team.index | + 1}. {team.label}</span>
      </div>

      <!--Position-->
      <div class="l-flexbox l-align-center l-flex-1 l-pack-end l-pl-6 l-pr-6">
         <span class="text-truncate">{index | * 10 | + 1}</span>
      </div>

      <!--Goals-->
      <div class="l-flexbox l-align-center l-flex-1 l-pack-end l-pr-6">
         <span class="text-truncate">{index | * 3 | + 3}</span>
      </div>

      <div class="l-flexbox">
         <button rv-click="toggleOutcome(outcome)"
                 rv-disabled="liveEvent.betOffers[0].suspended == true"
                 type="button" role="button" class="KambiWidget-outcome kw-link l-ml-6">

            <div class="l-flexbox l-pack-center">
               <div class="KambiWidget-outcome__odds-wrapper">
                  <span class="KambiWidget-outcome__odds">{team.odds | / 1000}</span>
               </div>
            </div>

         </button>
      </div>

   </div>

</div>

<footer class="kw-footer l-ml-12 l-mr-12 l-mt-6">
   <div id="tour-winner-pagination" class="kw-pagination l-flexbox l-pack-center l-align-center"></div>
</footer>

