<!--Tournament winner header-->

<div class="l-flexbox l-vertical">
   <div class="kw-section-header l-mb-12">
      <h4 class="l-flexbox l-align-center l-pack-start">
         <span class="text-truncate">{event.name}</span>
      </h4>
   </div>

   <div id="teams-slider" class="kw-slider-container">

      <!--Players wrapper-->
      <div class="kw-players-wrapper l-flex-1">

         <!--Players-->
         <div class="kw-players l-flexbox l-align-center l-mb-12"
              rv-each-team="outcomes">

            <!--Player Team Color-->
            <div class="kw-player-media l-flexbox l-align-center l-mr-8">
               <img rv-src="team.teamData.flag.url"/>
            </div>

            <!--Team Name-->
            <div class="l-flexbox l-align-center l-flex-4">
               <span class="text-truncate">{team.label}</span>
            </div>

            <div class="l-flexbox">
               <outcome-component-no-label outcome-attr="team"></outcome-component-no-label>
            </div>

         </div>

      </div>

      <div class="kw-link l-flexbox l-pack-center" rv-on-click="navigateToDetail">{participantString}</div>

   </div>
</div>

