.kw-pagination {
  text-align: center;
}

.kw-page-link {
  cursor: pointer;
  font-size: 10px;
  min-width: 20px;
  padding: 6px 3px;
}
.kw-page-link.disabled {
  cursor: not-allowed;
}
.kw-page-link.disabled:hover {
  background-color: transparent;
  color: inherit;
}

.kw-pagination-arrow {
  min-width: 37px;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.anim-stagger {
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.anim-stagger.anim-enter-active {
  animation: zoomIn 0.1s;
  -moz-animation: zoomIn 0.1s;
  -ms-animation: zoomIn 0.1s;
  -webkit-animation: zoomIn 0.1s;
  opacity: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.KambiWidget-card-background-color {
  background-color: #fff;
}

.KambiWidget-card-border-color, h3, h4, .kw-footer {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
}
.KambiWidget-card-border-color:first-child, h3:first-child, h4:first-child, .kw-footer:first-child {
  border-top-width: 1px;
}

.kw-header {
  background-color: white;
  color: #222;
  font-size: 16px;
  line-height: 24px;
}

main {
  height: 550px;
}

h3, h4 {
  line-height: 24px;
  border-width: 1px;
  border-bottom-width: 0px;
}

button {
  min-width: 50px;
}

h3 {
  font-size: 14px;
}

.kw-section-header h4 > div:last-child {
  min-width: 50px;
}

.kw-footer {
  height: 37px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 1px;
}

.kw-event {
  height: 145px;
  min-height: 145px;
}

.kw-event-time span {
  color: #666;
  font-size: 12px;
  line-height: 2.4;
  white-space: nowrap;
}

.kw-event-path {
  width: 1px;
}
.kw-event-path .kw-path {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.kw-event-team-home,
.kw-event-team-away {
  font-size: 14px;
  line-height: 1.6;
}

.kw-event-header {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.6;
}
.kw-event-header div {
  position: relative;
}

.kw-event-team-stats {
  margin-right: 3px;
  min-height: 9px;
  min-width: 6px;
}
.kw-event-team-stats.redCards {
  background-color: #FE0000;
}
.kw-event-team-stats.corners {
  display: none;
}

.kw-sets {
  color: #a4000b;
}

.kw-serve {
  animation: fadeInOut 3s;
  -moz-animation: fadeInOut 3s;
  -ms-animation: fadeInOut 3s;
  -webkit-animation: fadeInOut 3s;
  background-color: #F7CE00;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 6px;
  left: -10px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  width: 6px;
}

/*# sourceMappingURL=app.css.map */
