:local(.backgroundContainer) {
   filter: brightness(90%);
}

:local(.background) {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   display: block;
   width: 100%;
   min-width: 100%;
   min-height: 100%;
   overflow: hidden;
}

:local(.blendRect) {
   fill: currentColor;
}
