:local(.widget) {
   color: white;

   position: relative;
   padding-top: 12px;
}

:local(.background) {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   display: block;
   width: 100%;
   min-width: 100%;
   min-height: 100%;
}
