//Main scss file

//Included compass mixins
@import 'compass/css3';

//Included variables, mixins and layout
@import 'app-base';

//Include own custom plugins

//Included widget related styles
@import 'widget/variables';
@import 'widget/overrides';
@import 'widget/general';
@import 'widget/widget-theme';
